/*** node images ***/
.block-boxes-node_images_box .boxes-box-content {
  overflow: hidden;
  border-bottom: 1px solid #c9cacc;
}
.block-boxes-node_images_box .field-item img {
  display: none;
}
.block-boxes-node_images_box .gallery-caption {
  float: right;
  margin: 5px;
  font-weight: bold;
}

/* Pager */
.block-boxes-node_images_box .gallery-pager {
  float: left;
  margin: 5px;
  max-width: 170px;
  direction: ltr;
  text-align: right;
}
.block-boxes-node_images_box .gallery-pager .pager-item {
  display: block; 
  border: 0; 
  text-indent: -999em; 
  overflow: hidden; 
  background-color: transparent; 
  background-repeat: no-repeat; 
  text-align: left; 
  direction: ltr; 
}
.block-boxes-node_images_box .gallery-pager .pager-item {
  background: #d5d5d5;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
}
.block-boxes-node_images_box .gallery-pager .pager-item.active {
  background: #757575;
}

/* Pager - Scrolled */
.block-boxes-node_images_box .scrolled-gallery {
  position: relative;
  width: 170px;
  float: left;
}
.block-boxes-node_images_box .scrolled-gallery .gallery-wrapper {
    margin-right: 22px;
    width: 131px;
    direction: ltr;
    overflow: hidden;
}
.block-boxes-node_images_box .scrolled-gallery .gallery-pager {
  float: none;
  margin: 5px 0;
  max-width: 136px;
  white-space: nowrap;
}
.block-boxes-node_images_box .scrolled-gallery .prev,
.block-boxes-node_images_box .scrolled-gallery .next{
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 4px;
  position: absolute;
  font-weight: bold;
}
.block-boxes-node_images_box .scrolled-gallery .prev {
  left: 0;
}
.block-boxes-node_images_box .scrolled-gallery .next {
  right: 2px;
}
.block-boxes-node_images_box .scrolled-gallery .prev.inactive,
.block-boxes-node_images_box .scrolled-gallery .next.inactive{
  color: #ccc;
}

/*** list 1 ***/
.block-boxes-list_1_box > .contextual-links-wrapper {
  margin-left: 30px;
}

/* Textarea 
form#boxes-box-form input.form-text,
form#boxes-box-form input.form-text textarea.form-textarea {
  background-color: #fff;
  border-radius: 3px 3px 3px 3px;
  padding: 5px;
  width: 96%;
}

 Submit 
form#boxes-box-form input.form-submit {
  background: #498cfa;
  border: 1px solid #6f6f6f;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin: 3px 6px;
  padding: 3px 25px;
}

form#boxes-box-form #edit-body-format-guidelines {
  display: none;
}

form#boxes-box-form .form-item-body-format a {
  cursor: pointer;
  margin: 0 5px;
}

 Fieldsets 
form#boxes-box-form fieldset.collapsible {
  border: none;
  border-radius: 3px 3px 3px 3px;
  background:  #ccc;
  padding: 8px;
}

form#boxes-box-form fieldset legend {
  width: 100%;
}

form#boxes-box-form fieldset legend .fieldset-legend {
  background-image: none;
  padding: 0;
}

form#boxes-box-form fieldset legend .fieldset-legend a {
  color: black;
  display: block;
  padding: 3px;
  text-align: center;
  margin-bottom: -30px;
}*/

/* Textarea */
form#boxes-box-form input.form-text,
form#boxes-box-form input.form-text textarea.form-textarea {
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  width: 96%;
}
/* Submit */
form#boxes-box-form input.form-submit {
  background: rgb(255,48,25); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
  border: 1px solid DarkOrange;
  border-radius: 11px 11px 11px 11px;
  box-shadow: 1px 1px 2px DarkOrange, -1px -1px 2px DarkOrange;
  color: white;
  font-weight: bold;
  margin: 9px 6px;
  padding: 3px 25px;
  text-shadow: 1px 1px 2px #222222;
}

/* guidelines */  
form#boxes-box-form #edit-body-format-guidelines {
  display: none;
}

form#boxes-box-form .form-item-body-format a {
  cursor: pointer;
  margin: 0 5px;
}

/* Collapsible filed */  
form#boxes-box-form fieldset.collapsed {
  padding: 12px 0;
  clear: both;
}

form#boxes-box-form legend {
  width: 89%;
  display:block;
}

form#boxes-box-form fieldset.collapsible legend span.fieldset-legend{
  background-image: none;
  padding: 0;
}

form#boxes-box-form span a.fieldset-title {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #222222;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  box-shadow: 1px 1px 4px;
  line-height: 1em;
  margin:7px 0;
  padding: 5px 15px;
  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
  background: linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
  width: 100%;
  display: inline-block;
}

form#boxes-box-form .fieldset-legend span.summary {
 margin: 0;
}
